<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>姓名</title>
</head>
<body>
    <p>あなたの名字は<%= first %>ですね?</p>
    <p>あなたの名前は<%= family %>ですね?</p>
    <p>ラッキーカラー：<%= strength %><%= color %></p>
    <p>運勢は：<%= power %></p>
    <p>今日も一日，頑張りましょう!</p>
    <br>
    <p>再度，占えます</p>
    <form action="/seimei">
        名字<input type="text" name="first" required><br>
        名前<input type="text" name="family" required><br>
        <input type="submit" values="占う!">
    </form>
</body>
</html>