<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>姓名</title>
</head>
<body>
    <p>あなたの名字は<%= first %>ですね?</p>
    <p>あなたの名前は<%= family %>ですね?</p>
    <p>ﾑﾑｯ!!!水晶が<%= strength %><%= color %>になっておる!</p>
    <p>きっとその色がお主のラッキーカラーじゃ!</p>
    <p>運勢は．．．<%= power %>じゃ!</p>
    <p>人生は色々じゃ!頑張れよ〜!</p>
    <br>
    <form action="/seimei">
        名字<input type="text" name="first" required><br>
        名前<input type="text" name="family" required><br>
        <input type="submit" values="占う!">
    </form>
</body>
</html>